<!DOCTYPE html>
<html>
<head>
    <%- include('../parts/head'); %>
</head>
<body>
    <%- include('../parts/header'); %>

<div style="width: 100%;">
    <div class="d-flex flex-row justify-content-between" style="width: 70%;">
        <a href="views/showAddCategory" class="btn btn-primary" class="mb-2">Add new</a>
        <p>Total: <%= total %> categories</p>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">№</th>
            <th scope="col">Title</th>
            <th scope="col">Manage</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(element => { %>
                <tr>
                    <th scope="row"><%= element.id %></th>
                    <td><a href="/categories/<%= element.id %>"><%= element.title %></a></td>
                    <td>
                        <a href="/views/showEditCategory/<%= element.id %>" class="btn btn-warning">Edit</a>
                        <a href="/views/showDeleteCategory/<%= element.id %>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%- include('../parts/footer'); %>
</body>
</html>