<!DOCTYPE html>
<html>
<head>
    <%- include('../parts/head'); %>
</head>
<body>
    <%- include('../parts/header'); %>
    <div style="width: 100%;">
        <h4 style="text-align: center;">Company - <b><%= company.title %></b></h4>
        <div class="d-flex flex-row justify-content-around">
            <div>
                <h5>Game developed by this company:</h5>
                <ul>
                    <%gamesDeveloped.forEach(element => {%>
                        <li><%=element.title%></li>
                    <%});%>
                </ul>
            </div>
            <div>
                <h5>Game published by this company:</h5>
                <ul>
                    <%gamesPublished.forEach(element => {%>
                        <li><%=element.title%></li>
                    <%});%>
                </ul>
            </div>
        </div>
    </div>
            
    <%- include('../parts/footer'); %>
</body>
</html>