<!DOCTYPE html>
<html>
<head>
    <%- include('../parts/head'); %>
</head>
<body>
    <%- include('../parts/header'); %>
    <div>
        <h4>Platform - <b><%= platform.title %></b></h4>
        <h5>Game with this platform:</h5>
        <ul>
            <%games.forEach(element => {%>
                <li><%=element.title%></li>
            <%});%>
        </ul>
    </div>
            
    <%- include('../parts/footer'); %>
</body>
</html>