<!DOCTYPE html>
<html>
<head>
  	<%- include('../parts/head'); %>
</head>
<body>
  	<%- include('../parts/header'); %>

	<form action="/platforms/<%= data.id %>?_method=PUT" method="POST">
		<div class="card border-primary mb-3" style="min-width: 25rem;">
			<div class="card-header">Edit platform</div>
			<div class="card-body">
				<div class="form-group">
					<label class="col-form-label" for="platformName">Platform name</label>
					<input type="text" class="form-control" placeholder="Platform name" id="platformName" name="title" value="<%= data.title %>" required>
				</div>
				<div class="form-group">
					<input type="text" class="form-control d-none" placeholder="Platform id" id="platformId" name="id" value="<%= data.id %>">
				</div>
				<div class="form-group">
					<input type="hidden" name="_method" value="PUT">
				</div>
				<div class="d-flex justify-content-center">
					<button type="submit" class="btn btn-primary mt-3">Edit platform</button>
				</div>
			</div>
		</div>
	</form>
  <%- include('../parts/footer'); %>
</body>
</html>