<!DOCTYPE html>
<html>

<head>
  	<%- include('../parts/head'); %>
</head>

<body>
  	<%- include('../parts/header'); %>

	<div class="d-flex flex-column" style="text-align: center;">
		<p>Are you sure want to delete <%= data.title %> game?</p>
		<p>This game have <%= connections %> connections.</p>
		<div>
			<form method="POST" action="/games/<%= data.id %>?_method=DELETE">
				<input type="hidden" name="_method" value="DELETE">
				<button type="submit" class="btn btn-danger">Delete</button>
				<a href="/games" class="btn btn-primary">Cancel</a>
			</form>
		</div>
	</div>

  	<%- include('../parts/footer'); %>
</body>
</html>