<!DOCTYPE html>
<html>

<head>
    <%- include('../parts/head'); %>
</head>

<body>
    <%- include('../parts/header'); %>

    <form action="/games/<%= data.id %>?_method=PUT" method="POST">
        <div>
            <div class="card-group">
                <div class="card border-primary mb-3" style="min-width: 25rem;">
                    <div class="card-header">Edit game <%= data.title %></div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="number" class="form-control d-none" name="id" value="<%= data.id %> ">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="_method" value="PUT">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="title">Game title</label>
                            <input type="text" class="form-control" placeholder="Title" id="title" name="title" value="<%= data.title %>">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="publishYear">Publish year</label>
                            <input type="number" min="1970" max="2023" class="form-control" placeholder="Publish year" id="publishYear" name="publishYear" value="<%= data.publishYear %>">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="poster">Poster</label>
                            <input type="text" class="form-control" placeholder="Poster" id="poster" name="poster" value="<%= data.poster %>">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="description">Description</label>
                            <textarea type="text area" class="form-control" placeholder="Description" id="description" name="description"><%= data.description %></textarea>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="publisher">Publisher</label>
                            <select class="form-control" name="publisher" id="publisher">
                                <% for (let i = 0; i < companies.length; i++) { %>
                                    <%if (companies[i].id == data.publisher) { %>
                                        <option value="<%= companies[i].id %>" selected><%= companies[i].title %> </option>
                                    <%} else {%>
                                        <option value="<%= companies[i].id %>"><%= companies[i].title %> </option>
                                    <%}%>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card border-primary mb-3" style="min-width: 30rem;">
                    <div class="card-header"> </div>
                    <div class="card-body">
                        <p class="mb-1">Add developers</p>
                        <div class="form-group mb-3" style="display: flex; flex-direction: row;">
                            <div style="width: 50%; display: flex; flex-direction: column;">
                                <select style="height: 100px;" id="companiesBase" multiple>
                                    <% for (let i = 0; i < baseCompanies.length; i++) { %>
                                        <option value="<%= baseCompanies[i].id %>"><%= baseCompanies[i].title %> </option>
                                    <% } %>
                                </select>
                                <button type="button" class="btn btn-primary mx-2 mt-2" onclick="addCompaniesToGame()">Add--&#62</button>
                            </div>
                            <div style="width: 50%; display: flex; flex-direction: column;">
                                <select name="companies" style="height: 100px;" id="companiesThis" multiple>
                                    <% for (let i = 0; i < thisCompanies.length; i++) { %>
                                        <option value="<%= thisCompanies[i].id %>"><%= thisCompanies[i].title %> </option>
                                    <% } %>
                                </select>
                                <button type="button" class="btn btn-danger mx-2 mt-2" onclick="removeCompaniesFromGame()">&#60--Remove</button>
                            </div>
                        </div>
                        <p class="mb-1">Add categories</p>
                        <div class="form-group" style="display: flex; flex-direction: row;">
                            <div style="width: 50%; display: flex; flex-direction: column;">
                                <select style="height: 100px;" id="categoriesBase" multiple>
                                    <% for (let i = 0; i < baseCategories.length; i++) { %>
                                        <option value="<%= baseCategories[i].id %>"><%= baseCategories[i].title %> </option>
                                    <% } %>
                                </select>
                                <button type="button" class="btn btn-primary mx-2 mt-2" onclick="addCategoriesToGame()">Add--&#62</button>
                            </div>
                            <div style="width: 50%; display: flex; flex-direction: column;">
                                <select name="categories" style="height: 100px;" id="categoriesThis" multiple>
                                    <% for (let i = 0; i < thisCategories.length; i++) { %>
                                        <option value="<%= thisCategories[i].id %>"><%= thisCategories[i].title %> </option>
                                    <% } %>
                                </select>
                                <button type="button" class="btn btn-danger mx-2 mt-2" onclick="removeCategoriesFromGame()">&#60--Remove</button>
                            </div>
                        </div>
                        <p class="mb-1">Add platforms</p>
                        <div class="form-group" style="display: flex; flex-direction: row;">
                            <div style="width: 50%; display: flex; flex-direction: column;">
                                <select style="height: 100px;" id="platformsBase" multiple>
                                    <% for (let i = 0; i < basePlatforms.length; i++) { %>
                                        <option value="<%= basePlatforms[i].id %>"><%= basePlatforms[i].title %> </option>
                                    <% } %>
                                </select>
                                <button type="button" class="btn btn-primary mx-2 mt-2" onclick="addPlatformsToGame()">Add--&#62</button>
                            </div>
                            <div style="width: 50%; display: flex; flex-direction: column;">
                                <select name="platforms" style="height: 100px;" id="platformsThis" multiple>
                                    <% for (let i = 0; i < thisPlatforms.length; i++) { %>
                                        <option value="<%= thisPlatforms[i].id %>"><%= thisPlatforms[i].title %> </option>
                                    <% } %>
                                </select>
                                <button type="button" class="btn btn-danger mx-2 mt-2" onclick="removePlatformsFromGame()">&#60--Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mt-1">Edit game</button>
            </div>
        </div>
    </form>
    
    <%- include('../parts/footer'); %>

    <script src="../../Logic/GameLogic.js"></script>
</body>

</html>