<!DOCTYPE html>
<html>
<head>
    <%- include('../parts/head'); %>
</head>
<body>
    <%- include('../parts/header'); %>

<div style="width: 100%;">
    <div class="d-flex flex-row justify-content-between" style="width: 70%;">
        <a href="views/showAddGame" class="btn btn-primary" class="mb-2">Add new</a>
        <p>Total: <%= total %> games</p>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
            <th width="5%" scope="col">№</th>
            <th width="10%" scope="col">Title</th>
            <th width="10%" scope="col">Publish Year</th>
            <th width="20%" scope="col">Manage</th>
            </tr>
        </thead>
        <tbody>
            <% games.forEach(element => { %>
                <tr>
                    <th scope="row"><%= element.id %></th>
                    <td><%= element.title %></td>
                    <td><%= element.publishYear %></td>
                    <td>
                        <a href="/views/showEditGame/<%= element.id %>" class="btn btn-warning">Edit</a>
                        <a href="/views/showDeleteGame/<%= element.id %>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include('../parts/footer'); %>
</body>
</html>